<p>Tarjeta de clase {{ index() }}</p>
<button type="button" (click)="onShowMore()">
  Ver más
</button>

@if (showMore()) {
    <p>Clase: <span>{{ booking().className }}</span></p>
    <p>Horario: <span>{{ booking().schedule }}</span></p>
    <p>Profesor: <span>{{ booking().instructor }}</span></p>
    <p>Cupos: <span>{{ booking().availableSpots }}</span></p>
    
    @if (booking().availableSpots) {
        <button type="button" (click)="onBookingReservation()">
            Reservar
        </button>
    }
}